*{
  text-decoration: none;

}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
body {
  background-color: #040714;
  color: #f9f9f9;

  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

/* ======== lOGIN COMPONENT ========== */

.animated-button {
  animation: colorChange 2s infinite;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider-content {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.slider-item {
  flex: 0 0 25%;
  width: 25%;
  height: 200px;
  object-fit: cover;
}

.slider-icon {
  cursor: pointer;
  font-size: 30px;
}


@keyframes colorChange {
  0% {
    background-color: blue;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
      font-size: 14px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;